language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2

sudo: false

matrix:
  fast_finish: true

  include:
    - php: 7.1
      env: PHPCS=1

install:
  - composer install --prefer-dist --no-interaction

script:
  - sh -c "if [ '$PHPCS' != '1' ]; then vendor/bin/phpunit; fi"
  - sh -c "if [ '$PHPCS' = '1' ]; then ./vendor/bin/phpcs -n -p --extensions=php --standard=vendor/cakephp/cakephp-codesniffer/CakePHP ./src ./tests; fi"

notifications:
  email: false
